.dashboard-container {
    background-color: #04051E;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1em;
    gap: 1em;
}

.left-dashboard-container,
.right-dashboard-container {
    width: 100%;
    height: 570px;
    display: flex;
    flex-direction: column;
}

.left-dashboard-container {
    flex: 2;
    gap: 2.5em;
}

.right-dashboard-container {
    flex: 1;
    background-color: #06072d;
    color: #D0D3DE;
    gap: 1em;
}

.right-dashboard-container h2 {
    text-align: center;
    padding: 0.5em 0 0 0;
    margin: 0;
}

.cards {
    display: flex;
    gap: 1em;
    flex: 1;
}

.cards div {
    flex: 1;
}

.recent-transactions {
    background-color: #06072d;
    padding: 1em;
    flex: 3;
}

.categories {
    overflow-y: scroll;
    padding: 0 1em 1em 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.category {
    display: flex;
    justify-content: space-between;
    background-color: #04051E;
    padding: 0 0.7em;
}

@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        padding-bottom: 1em;
    }

    .categories {
        overflow-y: hidden;
    }
}

@media (max-width: 345px) {
    .cards {
        flex-direction: column;
    }
}