.dashboard-container {
    background-color: #04051E;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.cards {
    display: flex;
    gap: 0.5em;
    padding: 0 0.5em;
}

.cards div {
    flex: 1;
}

.user-card {
    color: #af46ec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-card h1 {
    margin: 0;
    padding: 0;
}

.bottom-container,
.top-container {
    display: flex;
    gap: 2em;
    padding: 0 2em;
    flex-wrap: wrap;
    justify-content: center;
}

.form-container,
.recent-transactions {
    background-color: #06072d;
    padding: 1em;
    height: 380px;
}

.form-container,
.user-card {
    flex: 2;
}

.recent-transactions,
.cards {
    flex: 3;
}