.recent-transactions-container {
    height: 100%;
    gap: 1em;
}

.recent-transactions-container,
.recent-transactions-table {
    display: flex;
    flex-direction: column;
    color: #D0D3DE;
}

.recent-transactions-title {
    margin: 0;
    padding: 0;
    text-align: center;
    flex: 1;
}

.recent-transactions-table {
    gap: 1em;
    flex: 3;
}

.recent-transaction {
    display: flex;
    padding: 0.5em;
    justify-content: space-between;
    align-items: center;
    background-color: #04051E;
    height: 35px;
}