.card-container {
    background-color: #06072d;
    color: #D0D3DE;
    padding: 1em;
    height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
    align-items: flex-start;
    justify-content: center;
}

.card-container h1,
.card-container h3 {
    margin: 0;
    padding: 0;
}