.sign-in-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #04051E;
    position: relative;
    z-index: 0;
    padding: 1em;
    text-align: center;
    overflow: hidden;
}

.sign-in-header-container p {
    font-size: 5rem;
    max-width: 800px;
    font-weight: 500;
    color: #D0D3DE;
}

.main-text-container {
    margin-top: -5em;
    font-size: 1.15rem;
    max-width: 700px;
    font-weight: 300;
    color: #D0D3DE;
}

.sign-in-btn {
    border-radius: 50px;
    padding: 0.6em 1em;
    font-size: 1rem;
    background: #06082f;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    color: #fff;
    border: none;
}

.sign-in-btn:hover {
    background-color: #0b0d4c;
    cursor: pointer;
}

@media (max-width:800px) {
    .sign-in-header-container p {
        font-size: 4rem;
    }

    .main-text-container {
        font-size: 1rem;
    }

    .circle-left,
    .circle-right {
        width: 500px;
        height: 300px;
    }
}

@media (max-width:615px) {
    .sign-in-header-container p {
        font-size: 3rem;
    }

    .main-text-container {
        font-size: 1rem;
        margin-top: -4em;
    }
}

@media (max-width:525px) {
    .sign-in-header-container p {
        font-size: 2.3rem;
    }

    .main-text-container,
    .sign-in-btn {
        font-size: 0.9rem;
    }
}